// Specific CSS for your home-page
body {
  cursor: url("cursor.png"), auto;
  background-color: black;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 280px 0;
  background-image: url("Fond.jpg");

  h1 {
    margin: 0;
    color: #F0BE34;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.lists-menu {
  font-family: Penguin;
  padding: 70px 130px;
  color: white;
  text-align: center;
}
