// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url("banner.jpg");

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.presentation {
  padding: 70px 130px;
}

.lists-menu {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.btn-outline-danger {
  color: #DB4554;
  border-radius: 5px;
  border-color: #DB4554;
}

.btn-outline-danger:hover {
  background-color: #DB4554;
}
