.cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 20px;

  a {
    color: white;
  text-decoration: none;
  }
}
